@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;

    src: local('Roboto'),

        url('/assets/fonts/Roboto/roboto-v30-latin_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/assets/fonts/Roboto/roboto-v30-latin_cyrillic-300.woff') format('woff')
        /* Modern Browsers */

}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;

    src: local('Roboto-Bold'),

        url('/assets/fonts/Roboto/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/assets/fonts/Roboto/roboto-v30-latin_cyrillic-700.woff') format('woff')
        /* Modern Browsers */

}

@font-face {
    font-family: 'Josefin-Sans';
    src: url('/assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Mincho';
    src: url('/assets/fonts/Mincho/BIZUDPMincho-Regular.ttf');
}

html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #212121;
    line-height: 1.3;
    font-weight: 300;

}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    object-fit: fill;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: none;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.container-main{
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 150px;
    height: 70px;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.flex-center {
    display: flex;
    align-items: center;
    gap: 30%;
    border-bottom: 1px solid black;
    border-radius: 8px;
    
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.nav-items a {
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    /*  transition: color 0.3s ease-in-out; */
    border: 1px solid transparent;
    padding-bottom: 5px;
}

.nav-items a:hover {
    color: #1D8FBD;
    border-bottom-color: #1D8FBD;
}

.footer-container {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 8px;
}

.footer-container p {
    align-self: center;
    justify-self: center;
    font-size: 15px;

}