@font-face {
    font-family: 'Josefin-Sans';
    src: url('/assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Mincho';
    src: url('/assets/fonts/Mincho/BIZUDPMincho-Regular.ttf');
}

.container-main {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-family: Montserrat;
}

.description {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.decsription-parts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.decsription-parts p {
    width: 60%;
    font-size: 23px;
    margin-right: 40px;
    line-height: 170%;
    vertical-align: middle;
}

.decsription-parts img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 5px 4px 10px 3px #888;
}
.image-left img{
    order:-1;
    margin-left: 0px;
}
.image-left p{
    margin-right: 0px;
    margin-left: 40px;
}

.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.products-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.products-text {
    margin-bottom: 20px;
   width: 60%;
}

.products-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 40px 20px;
    justify-content: center;
    align-items: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D8FBD;
    border-radius: 22px;
    transition: all 0.5s ease-in-out;
}

.product-item:hover {
    box-shadow: 10px 4px 10px 3px #888;
}

.product-item p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-image {
    border-radius: 22px;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: cover;

}

.products-link {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    display: block;
    width: 300px;
    height: 30px;
    background-color: #1D8FBD;
    border-radius: 22px;
    color: white;
    text-align: center;

}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.gallery-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery-text {
    margin-bottom: 20px;
    width: 60%;
}

.gallery-image {
    border-radius: 22px;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.gallery-image:hover {
    box-shadow: 10px 4px 10px 3px #888;
}

.gallery-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 40px 20px;
    justify-content: center;
    align-items: center;
}

.gallery-link {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    display: block;
    width: 300px;
    height: 30px;
    background-color: #1D8FBD;
    border-radius: 22px;
    color: white;
    text-align: center;
}

.another-page {
    transition: all 0.5s ease-in-out;
}

.another-page:hover {
    background-color: #50bde8;

}
.contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contacts p{
    padding-top: 20px;
    width: 60%;
    text-align: center;
}
.phone-number{
    font-style: oblique;
    color: #1D8FBD;
}
