.container-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}
.category{
 width: 200px;
 height: 300px;
 border-right: 1px solid black;
 border-radius: 22px;
 border-bottom: 1px solid black;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 margin-right: 20px;
}
.category p{
    border-top-left-radius: 5px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: white;
}
.category-list{
    width: 100%;
    align-items: flex-start;
}
.category-item{
    width: 100%;
    padding-top: 10px;
    transition: box-shadow 0.5s ease-in-out ;
}
.category-btn{
    padding-bottom: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
}
.category-item:hover{
    box-shadow: 5px 4px 7px 3px #888;
    
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.content-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 40px 20px;
    justify-content: center;
    align-items: center;
}

.content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border 0.5s ease-in-out;
    border: 1px solid transparent;
    border-radius: 22px;
}
.content-item:hover{
    border: 1px solid #1D8FBD;
}
.content-item a{
    object-fit: cover;
}
.content-item p{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.content-img{
    border-radius: 22px;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;

}